* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    display: flex;
    justify-content: center;
    width: 50vh;
}
.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #fc4a1a, #f7b733); 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.search_section{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}
#searchBox{
    width: 75%;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding-left: 20px;
    background-color: rgb(240, 216, 151);
    font-size: medium;
    color: rgb(103, 101, 97);
}
#searchBtn{
    border: none;
    width: 40px;
    background-color: rgb(240, 216, 151);
    border-radius: 20px;
}
#searchBtn img{
    width: 14px;
}
#weatherImg{
    display: none;
    width: 170px;
    margin-bottom: 20px;
}
#temp{
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
}
#cityName{
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.otherInfo{
    display: flex;
    width: 85%;
    margin-bottom: 50px;
    justify-content: space-between;
}
.humidity, .windSpeed{
    display: flex;
    gap: 0.8rem;
    font-size: 20px;
    font-weight: 100;
    color: white;
}
.humidity img, .windSpeed img{
    width: 40px;
}
.humidity_info, .windSpeed_info{
    display: flex;
    flex-direction: column;
}
.otherInfo p{
    font-size: 15px;
}
#percentage, #speed{
    font-weight: 100;
    font-size: larger;
}
.weather{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.error{
    display: none;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: larger;
}